html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  width: 320px;
  padding-top: 3.5em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 136px;
  top: 65px;
}

.robot-head-right,
.robot-head-left {
  position: absolute;
}

.robot-head-right {
  position: absolute;
  left: 160px;
  top: 20px;
}

.robot-head-left {
  position: absolute;
  left: 35px;
  top: 20px;
}

.robot:hover .robot-head-right {
  left: 195px;
  top: 15px;
}

.robot:hover .robot-head-left {
  left: .1px;
  top: 15px;
}

.robot:hover .robot-brain {
  top: 40px;
}
